<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-9">
            <br> 
            <br> 
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="form-group">
                <h4><label for="nombre">Nombre de la Educacion</label></h4>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
            </div>
            <br> 
            <div class="form-group">
            <h4><label for="descripcion">Descripcion del Estudio</label></h4>
                <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required>
            </div>
            <br> 
            <button class="btn btn-dark">
                Agregar Educacion
            </button>
        </form>
    </div>
    <div class="col-lg-1"></div>
</div>
</div>
