<div class="container-fluid" *ngIf="proye">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-9">
            <br> 
            <br> 
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                   <h4><label for="nombre">Nombre del Proyecto</label></h4>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="proye.nombre" required>
                </div>
                <br> 
                <div class="form-group">
                <h4><label for="descripcion">Descripcion del Proyecto</label></h4>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="proye.descripcion" required>
                </div>
                <br> 
                <button class="btn btn-dark">
                    Actualizar
                </button>

            </form>

        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
</div>